script(src="/vendor/jquery/dist/jquery.min.js")
script(src="/vendor/lodash/dist/lodash.min.js")
script(src="/vendor/backbone/backbone.js")
script(src="/vendor/angular/angular.min.js")
script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="/vendor/async/lib/async.js")
script(src="/js/socket.io.js")
script(src="/js/sails.io.js")
script(src="/js/app.js")

link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css")
link(rel="stylesheet", href="/styles/style.css")